@use 'src/styles/variables.scss' as *;

.color-cold {
  color: $color-cold;
}

.color-warm {
  color: $color-warm;
}

.color-rain {
  color: $color-rain;
}

.color-wind {
  color: $color-wind;
}

.color-humidity {
  color: $color-humidity;
}

