@use '../../../../styles/variables' as *;

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  pointer-events: none;
  max-width: 90vw;
  max-height: 80vh;
  opacity: .1;
  object-fit: contain;
}


.page-wrapper {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-gap: $home-page-grid-gap;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    'weather weather  air    air    .'
    'weather weather  air    air    .'
    '.       .        .      .      .'
    '.       .        .      .      .'
    '.       .        .      .      .';

  padding: $home-page-padding;
  padding-top: calc(#{$mat-toolbar-height} + #{$home-page-padding});
}

app-weather-card {
  grid-area: weather;
}

app-air-quality-card {
  grid-area: air;
}

// Small screens
@media screen and (max-width: $small-screen-breakpoint) {
  app-weather-card {
    width: 100%;
  }
}
