@use '../../../../styles/variables' as *;

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  background-color: transparent;
}

mat-nav-list {
  &.menu {
    flex: 1 1;
  }
}

mat-list-item {

  mat-icon {
    margin-right: $button-icon-margin;
  }

  &[disabled] {
    background-color: transparent;
    opacity: .5;
  }
}

app-hardware-status-widget {
  align-self: flex-end;
}
