@use 'variables' as *;

mat-card.dashboard-card {
  height: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;

  display: flex;
  flex-direction: column;
  justify-content: stretch;

  & > *:not(
    mat-card-content,
    mat-divider
  ) {
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
  }

  .mat-card-content {
    display: flex;
    flex-grow: 1;
    justify-content: stretch;
    align-items: center;
  }

  .mat-divider {
    position: initial;
  }
}


mat-card {
}
