@use '../../../styles/variables' as *;

// Eligible for smartphones
.layout-wrapper {
  display: flex;
}

@media (min-width: $tablet-breakpoint) {
  .layout-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      'indoor   indoor    air       air       .   .'
      'weather  weather   weather   weather   .   .'
      '.        .         .         .         .   .'
      '.        .         .         .         .   .'
      '.        .         .         .         .   .'
      '.        .         .         .         .   .';
  }
}

@media (min-width: $desktop-breakpoint) {
  .layout-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      'indoor   indoor    indoor    air       air       air       .   .   .   .   .   .'
      'weather  weather   weather   weather   weather   weather   .   .   .   .   .   .'
      '.        .         .         .         .         .         .   .   .   .   .   .'
      '.        .         .         .         .         .         .   .   .   .   .   .'
      '.        .         .         .         .         .         .   .   .   .   .   .'
      '.        .         .         .         .         .         .   .   .   .   .   .';
  }
}
