@use '../../../styles/variables' as *;
@use 'dashboard-layout' as *;

app-indoor-conditions-card {
  grid-area: indoor;
}

app-air-quality-card {
  grid-area: air;
}

app-weather-card {
  grid-area: weather;
}
