@use '../styles/variables' as *;

mat-sidenav-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

mat-sidenav {
  width: 300px;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  
  .mat-icon-button {
    margin-right: $button-icon-margin;
  }

  h1 {
    width: 100%;
  }
}
