<mat-sidenav-container>
  <mat-sidenav mode="over" [opened]="sidenavExpanded" (openedChange)="handleSidenavStateChange($event)">
    <app-sidenav-menu></app-sidenav-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row">
      <div fxFlex="row" fxLayoutAlign="space-between center">
        <button mat-icon-button (click)="toggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1>Smart center</h1>
      </div>

      <a mat-icon-button routerLink="/settings" matTooltip="Settings">
        <mat-icon>settings</mat-icon>
      </a>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
