<mat-sidenav-container>
  <mat-sidenav mode="over" [opened]="sidenavExpanded" (openedChange)="handleSidenavStateChange($event)">
    <app-sidenav-menu></app-sidenav-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="toggleSidenav()" matRippleDisabled="false">
        <mat-icon appearance="round">menu</mat-icon>
      </button>
      <h1>Smart center</h1>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>