@use "../../../../../styles/variables.scss" as *;

.mat-card-wrapper {
  width: 100%;
}

mat-card-content {
  .weather-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'temperature pressure'
      'temperature humidity';

    span {
      padding: 6px;
      display: flex;
      align-items: center;

      &:nth-child(1) {
        font-size: 3em;
        padding-left: 0;
        grid-area: temperature;
      }

      &:nth-child(2) {
        font-size: 1.4em;
        padding-right: 0;
        grid-area: pressure;
      }

      &:nth-child(3) {
        font-size: 1.4em;
        padding-right: 0;
        grid-area: humidity;
      }
    }
  }
}
