<app-dashboard-card [title]="'Weather'"
                    [showRefreshButton]="true"
                    [lastUpdate]="currentWeather?.date"
                    (refresh)="onRefresh()">
  <p class="weather-details">
    <span>{{ currentWeather?.feelsLike || '--' }}&deg;C</span>
    <span>
      <mat-icon>air</mat-icon>
      {{ currentWeather?.windSpeed || '--' }} m/s
    </span>
    <span>
      <mat-icon>grain</mat-icon>
      {{ currentWeather?.humidity || '--' }}%
    </span>
    <span> {{ currentWeather?.weather?.description || '--' }}</span>
  </p>
  <p class="forecast-details"></p>
</app-dashboard-card>
