@use '/src/styles/variables' as *;

mat-card {
  mat-card-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.air-quality-details {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: $spacing-big $spacing-medium;

  display: flex;
  align-items: center;

  font-size: 1.2rem;
}

.air-quality-index-1 {
  background-color: limegreen;
}

.air-quality-index-2 {
  background-color: greenyellow;
}

.air-quality-index-3 {
  background-color: orange;
}

.air-quality-index-4 {
  background-color: orangered;
}

.air-quality-index-5 {
  background-color: #d00000;
  color: white
}
