<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>Air quality</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p *ngIf="airQualityData$ | async as data" class="air-quality-details air-quality-index-{{ data.airQualityIndex }}">
      <span>Current air quality is {{ getAirQualityIndexName(data.airQualityIndex) | lowercase }}</span>
    </p>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <button mat-button disabled>Go to details</button>
  </mat-card-actions>
</mat-card>
