/* You can add global styles to this file, and also import other style files */

@import "./styles/material-theme";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Remove additional margin in card header
.mat-card-header-text {
  margin-left: 0 !important;
}

// Router active
.router-link-active {
  background-color: var(--primary-color) !important;
  color: white !important;
}
